name = "chaoschemy-analytics"
main = "src/index.js"
compatibility_date = "2026-09-26"

[[d1_databases]]
binding = "DB"
database_name = "chaoschemy-analytics"
database_id = "<create-a-d1-database-and-fill-this-id>"
